@tailwind base;
@tailwind components;
@tailwind utilities;



/* if you do any changes here it requires manually changes in Skeleton*/
@layer base {
  :root {
    --brand: 137deg 82% 22%; /* 0a6624 */
    --background: 0deg 0% 93%;
    --foreground: 0deg 0% 84%;
    --foreground-accent: 0deg 0% 75%;
    --foreground-hover: 0deg 0% 74%; /* for skeleton */
    --title: 0deg 0% 12%;
    --title-foreground: 0deg 0% 90%;
    --subTitle: 0deg 0% 40%;

    /* The same colors */
    --border-color: 0deg 0% 40%; /*subTitle*/
    --icon-color: 0deg 0% 12%; /* title 1f1f1f */

    /* Support colors */
    --info: 219deg 65% 36%;
    --warning: 22deg 84% 27%;
    --danger: 0deg 82% 34%;
    --success: 118deg 78% 20% /* 0e5b0b */;
    --success-accent: 109deg 83% 42% /* 18bf12 */;
  }
  /* I did it using rgb color picker and contrast checker */
  .dark {
    --brand: 137deg 82% 52%; /* 20e959 */
    --background: 0deg 0% 7%;
    --foreground: 0deg 0% 16%;
    --foreground-accent: 0deg 0% 25%;
    --foreground-hover: 0deg 0% 26%; /* for skeleton */
    --title: 0deg 0% 88%;
    --title-foreground: 0deg 0% 10%;
    --subTitle: 0deg 0% 63%;

    /* The same colors */
    --border-color: 0deg 0% 60%; /*subTitle*/
    --icon-color: 0deg 0% 88%; /* title e0e0e0 */

    /* Support colors */
    --info: 219deg 83% 65%;
    --warning: 22deg 84% 73%;
    --danger: 0deg 80% 72%;
    --success: 118deg 80% 78% /* 9df49a */;
    --success-accent: 120deg 93% 62% /* 499546 */;
  }
}

html,
body,
:root {
  height: 100%;
}